extends layout

block title
  div#title_name About Me

block content
  div#content
    p I am currently a Freshman college student studying Computer Science and Math and the University of Illinois Urban Champaign
    p If you have any questions or requests, please email ericmsauer@gmail.com
