extends layout

block title
  div#title_name Who Am I?

block content
  div#content
    div#content_title I am your next EMPLOYEE! No, but seriously...
    br
    p I am  a sophmore attending the University of Illinois Urban Champaign.
    p Attemping but obviously will obtain BS in Mathamatics and Computer Science.
    br
    div#content_title INTERESTS
    div#content_bar
      span#content_bar_name Game Development
      div#content_bar_percent_90 -
    div#content_bar
      span#content_bar_name Cyber Security
      div#content_bar_percent_80 -
    div#content_bar
      span#content_bar_name Web Development
      div#content_bar_percent_80 -
    div#content_bar
      span#content_bar_name Mobile Development
      div#content_bar_percent_60 -
    br
    div#content_title SKILLS
    div#content_bar
      span#content_bar_name C++
      div#content_bar_percent_90 -
    div#content_bar
      span#content_bar_name Java
      div#content_bar_percent_90 -
    div#content_bar
      span#content_bar_name HTML/CSS
      div#content_bar_percent_60 -
    div#content_bar
      span#content_bar_name Python
      div#content_bar_percent_50 -
    div#content_bar
      span#content_bar_name Android
      div#content_bar_percent_30 -
    div#content_bar
      span#content_bar_name IOS
      div#content_bar_percent_20 -
    br
    p Dont forget to check out my projects!
    br
    p If you have any questions or requests, please email ericmsauer@gmail.com.
