extends layout

block title
  div#title_name Eric Sauer

block content
  div#content
    div#index_picture
      img(src="/pictures/IMG_1653_transparent.png")
    div#index_title_top Eric
    div#index_title_bottom Sauer
    div#index_text Software Developer
