doctype html
htm
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascript/script.js')
  body
    block title
    div#navigation
      div
        br
        br
        br
        br
        br
        div#navigation_text
          a(href='/')
            img(src='/pictures/home_button.jpg' href='/')
          a(href='/') Home
        div#navigation_text
          a(href='/projects')
            img(src='/pictures/projects_button.jpg')
          a(href='/projects') Projects
        div#navigation_text
          a(href='/resume')
            img(src='/pictures/resume_button.jpg')
          a(href='/resume') Resume
        div#navigation_text
          a(href='/about')
            img(src='/pictures/aboutme_button.jpg')
          a(href='/about') About Me
      div#navigation_buttons
        a(href="/facebook")
          img(src='/pictures/facebook_button_engraving.jpg')
        a(href="/twitter")
          img(src='/pictures/twitter_button_engraving.jpg')
        a(href="/google")
          img(src='/pictures/googleplus_button_engraving.jpg')
    block content
