!!!5
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascript/script.js')
  body
    block title
    div#navigation
      div
        img(src='/pictures/me.tif')
        ul
          li
            img(src='/pictures/home_button.tif')
            a(href='/') Home
          li
            img(src='/pictures/projects_button.tif')
            a(href='/projects') Projects
          li
            img(src='/pictures/resume_button.tif')
            a(href='/resume') Resume
          li
            img(src='/pictures/aboutme_button.tif')
            a(href='/about') About Me
      span
        img(src='/pictures/twitter_button.tif')
        img(src='/pictures/facebook_button.tif')
        img(src='/pictures/googleplus_button.tif')
    block content
    footer
      div#footer_inner
        p Created by: Eric Sauer 
        p Using Node.js along with express
        p All JADE/STYLUS(HTML/CSS) written by hand
