extends layout

block title
  div#title_name Projects
  
block content
  div#content
    br
    div#resume_title Pebble Watchface Designs!
    hr
    p These are apps developed for Pebble Smart Watches
    br
    div#project
      div#resume_title_small Simplicity
      div#project_picture
        img(src='/pictures/projects/simplicity_icon.png' href='/')
      div#project_text This is a watch face that keeps the information you need simple and readable.
      div#project_text It displays:
      div#project_text - Battery Level/Status (Charging/Discharging)
      div#project_text - Bluetooth Connection (On/Off)
      div#project_text - Time (Hour/Minutes/Seconds)
      div#project_text - Date (Name of day/Month/Day/Year)     
      div#project_text You can customize:
      div#project_text - 12 or 24 hour time (Based off of your system settings)
      a(href='https://github.com/ericmsauer/pebble_simplicity')
        div#project_text_bold Link to Github
