extends layout

block title
  div#title_name Resume
  
block content
  div#content
    div#content_title Resume
    hr
    a(href='/documents/resume_latest.pdf')
      p Download
    br
    br
    div#content_title Giant List of Acheivements (Last Updated 4/22/2014)
    hr
    div#resume_title_small Education
      div#resume_text - Uniersity of Illinois Urbana Champaign, IL 61820
      div#resume_text_indent_1 - Major of Study: Mathamatics and computer Science
      div#resume_text - Doughery Valley High School, San Ramon, CA 94582
      div#resume_text - John Hopkins University Center for Talented Youth, MD 21218
      div#resume_text - Digital Media Academy at Stanford University, CA 94305
    div#resume_title_small Employment
      div#resume_text_bold - Sandia National Laboratories: Center for Cyber Defenders
      div#resume_text_bold_indent_1 Paid Internship (Summer 2012)
      div#resume_text_indent_1 - Developed the Forensic Analysis Repository for Malware System (FARM) which provides computer security experts the ability to automate detection of malware and build a central database for research.
      div#resume_text_indent_1 - Designed new innovative cyber security tools to detect malware in non executable files such as image files, archive files, Microsoft documents, and portable document format (PDF) files.
      div#resume_text_bold_indent_1 Paid Internship (Summer 2011)
      div#resume_text_indent_1 - Designed the Front (user interface) and Back (database & server) End for Sandia's MegaTux Project, a supercomputer used to emulate the Internet and study the behavior of botnets.
    div#resume_title_small Scientific Research
      div#resume_text - “PDF Clearance: An Improved Method of Detecting Malicious Embedded JavaScript in Portable Document Files (PDFs) using Syntactic Analysis.”  (2011 - 2012)
      div#resume_text - “Towards the Evolution of Artificial Intelligence: Designing a Human-like AI that can adapt to User Skill Sets and Display Emotions.” (2010 - 2011)
      div#resume_text - “Towards the Evolution of Artificial Intelligence: Simulating Human Decision Making in Video Game Environments.” (2009- 2010)
      div#resume_text - “How can a Stack of Jenga Blocks Extend over an Edge of a Table to Achieve the Maximum Overhang Possible?” (2008 - 2009)
