extends layout

block title
  div#title_name Resume
  
block content
  div#content
    div#content_title Short Resume
    br
    a(href='/documents/resume_latest.pdf')
      p Download
    br
    div#content_title Giant List of Acheivements

