@import 'nib'
global-reset()

background-color = rgb(150,150,255)
nav_trans_time = .5s
footer_trans_time = .5s

body
  overflow scroll
  background-color background-color

#title_name
  position fixed
  top 0px
  left 160px
  width 100%
  z-index 10
  padding 5px
  color rgb(50,50,50)
  background rgb(225,225,225)
  font-size 250%
  font-family Molot

#navigation
  postion fixed
  top 0px
  left 500px
  z-index 10
  width 150px
  background rgb(225,225,225)
div#navigation
  text-align left
  padding 5px
  font-size 125%
  font-family Molot
span#navigation
  position absolute
  bottom 0
  background rgb(0,0,0)
  
#content
  position absolute
  top 50px
  left 165px
#content p
  font-size 250%
  font-family GoodDog

footer
  position fixed
  bottom 0
  width 100%
  background rgb(255,255,255)
  padding-left 40%
  font-size 100%
  font-family Molot
  transition-propert padding-left
  transition-duration nav_trans_time
  -moz-transition-property padding-left
  -moz-transition-duration nav_trans_time
  -webkit-transition-property padding-left
  -webkit-transition-duration nav_trans_time
  -o-transition-property padding-left
  -o-transition-duration nav_trans_time
  &:hover
    padding-left 0%
#footer_inner
  position relative

/*
 * Fonts
 */
@font-face
  font-family GoodDog
  src url(/fonts/GoodDog.otf) format('truetype')
@font-face
  font-family Molot
  src url(/fonts/Molot.otf) format('truetype')

