html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  overflow: scroll;
  background-color: #9696ff;
}
#title_name {
  position: fixed;
  top: 0px;
  left: 160px;
  width: 100%;
  z-index: 10;
  padding: 5px;
  color: #323232;
  background: #e1e1e1;
  font-size: 250%;
  font-family: Molot;
}
#navigation {
  postion: fixed;
  top: 0px;
  left: 500px;
  z-index: 10;
  width: 150px;
  background: #e1e1e1;
}
div#navigation {
  text-align: left;
  padding: 5px;
  font-size: 125%;
  font-family: Molot;
}
span#navigation {
  position: absolute;
  bottom: 0;
  background: #000;
}
#content {
  position: absolute;
  top: 50px;
  left: 165px;
}
#content p {
  font-size: 250%;
  font-family: GoodDog;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding-left: 40%;
  font-size: 100%;
  font-family: Molot;
  transition-propert: padding-left;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-property: padding-left;
  -moz-transition-duration: 0.5s;
  -webkit-transition-property: padding-left;
  -webkit-transition-duration: 0.5s;
  -o-transition-property: padding-left;
  -o-transition-duration: 0.5s;
}
footer:hover {
  padding-left: 0%;
}
#footer_inner {
  position: relative;
}
/*
 * Fonts
 */
@font-face {
  font-family: GoodDog;
  src: url("/fonts/GoodDog.otf") format('truetype');
}
@font-face {
  font-family: Molot;
  src: url("/fonts/Molot.otf") format('truetype');
}
