@import 'nib'
global-reset()

// Content
background-color = rgb(250,250,250)
content-bar-color = rgb(0,255,0)
content-bar-text-color = rgb(0,0,0)
// Navigation
navigation-color = rgb(155,155,155)
navigation-text-color = rgb(75,75,75)
navigation-text-hover-color = rgb(175,175,175)
//Project
project-background-color = rgb(245,245,245)
nav_trans_time = .5s
footer_trans_time = .5s

html
  height 100%

body
  overflow-x hidden
  margin 0
  padding 0
  height 100%
  background-color background-color

#title_name
  position fixed
  top 0px
  left 160px
  width 100%
  z-index 10
  padding 5px
  color navigation-text-color
  background navigation-color
  border-bottom 1px solid rgb(0,0,0)
  box-shadow 15px 2px 15px 0px rgb(0,0,0);
  text-shadow: 0px 1px 0px rgba(255,255,255,.5);
  font-size 250%
  font-family Molot

#navigation
  position fixed
  top 0px
  left 0px
  z-index 9
  width 150px
  height 100%
  padding 0 15px 0 15px
  background navigation-color
  box-shadow 5px 0 25px 0px rgb(0,0,0);
  border-right 1px solid rgb(0,0,0)
div#navigation
  text-align left
  padding 5px
#navigation_picture
  padding 5px
#navigation_text
  height 50px
  a:link
    color navigation-text-color
    font-family Molot
    font-size 150%
    text-decoration none
    text-shadow: 0px 1px 0px rgba(255,255,255,.5);
  a:visited
    color navigation-text-color
  a:hover
    color navigation-text-hover-color
    text-shadow: 0px 1px 0px rgba(0,0,0,.5);
#navigation_buttons
  position absolute
  bottom 25px

/*
 * GLOBAL CONTENT
 */ 
#content
  position absolute
  width 100%
  top 65px
  left 170px
  margin-left 10px 
#content p
  font-size 150%
  font-family Aleo
#content_title
  font-size 180%
  font-family Aleo-Bold
/*
 * CONTENT FOR INDEX!
 */
#index_picture
  position absolute
  left 5%
  top 50px
#index_title_top
  position absolute
  left 35%
  top 150px
  color rgb(50,50,50)
  font-size 300%
  font-family Villa
#index_title_bottom
  position absolute
  left 35%
  top 200px
  color rgb(0,200,100)
  font-size 300%
  font-family Villa
#index_text
  position absolute
  left 32%
  top 250px
  color rgb(0,0,0) 
  font-size 160%
  font-family Aleo-BoldItalic
/*
 * CONTENT FOR PROJECTS!
 */
#project 
  border-style solid
  border-width 5px
  background project-background-color
  width 930px
#project_picture
  position absolute
  left 730px
  border-style solid
  border-width 5px
#project_text
  padding 7px
  padding-left 50px
  width 90%
  font-size 110%
  font-family Aleo
#project_text_bold
  padding 7px
  padding-left 50px
  width 90%
  font-size 110%
  font-family Aleo-Bold
/*
 * CONTENT FOR RESUME PAGE
 */
#resume_title
  padding-bottom 10px
  font-size 180%
  font-family Aleo-Bold
#resume_title_small
  padding 8px
  width 90%
  font-size 140%
  font-family Aleo-Bold
#resume_text
  padding 7px
  width 90%
  font-size 80%
  font-family Aleo
#resume_text_bold
  padding 7px
  padding-left 20px
  width 90%
  font-size 90%
  font-family Aleo-Bold
#resume_text_bolditalic
  padding 7px
  padding-left 20px
  width 90%
  font-size 90%
  font-family Aleo-BoldItalic
#resume_text_indent_1
  padding 7px
  padding-left 50px
  width 90%
  font-size 80%
  font-family Aleo
#resume_text_bold_indent_1
  padding 7px
  padding-left 50px
  width 90%
  font-size 80%
  font-family Aleo-Bold
/*
 * CONTENT FOR ABOUT ME PAGE
 */
#content_bar
  position relative
  height 30px
  width 400px
  border-style solid
  border-width 1px
  font-size 140%
  font-family Aleo-Italic
#content_bar_name
  color content-bar-text-color
  padding-left 5px
  padding-top 4px
  position absolute
  left 5%
/*
 * CONTENT BARS!
 */
#content_bar_percent_90
  background-color content-bar-color
  padding-left 5px
  padding-top 4px
  height 26px
  width 90%
#content_bar_percent_80
  background-color content-bar-color
  padding-left 5px
  padding-top 4px
  height 26px
  width 80%
#content_bar_percent_70
  background-color content-bar-color
  padding-left 5px
  padding-top 4px
  height 26px
  width 70%
#content_bar_percent_60
  background-color content-bar-color
  padding-left 5px
  padding-top 4px
  height 26px
  width 60%
#content_bar_percent_50
  background-color content-bar-color
  padding-left 5px
  padding-top 4px
  height 26px
  width 50%
#content_bar_percent_40
  background-color content-bar-color
  padding-left 5px
  padding-top 4px
  height 26px
  width 40%
#content_bar_percent_30
  background-color content-bar-color
  padding-left 5px
  padding-top 4px
  height 26px
  width 30%
#content_bar_percent_20
  background-color content-bar-color
  padding-left 5px
  padding-top 4px
  height 26px
  width 20%


footer
  position fixed
  bottom 0
  width 100%
  background rgb(255,255,255)
  border 1px solid rgb(0,0,0)
  padding-left 40%
  font-size 100%
  font-family Molot
  transition-propert padding-left
  transition-duration nav_trans_time
  -moz-transition-property padding-left
  -moz-transition-duration nav_trans_time
  -webkit-transition-property padding-left
  -webkit-transition-duration nav_trans_time
  -o-transition-property padding-left
  -o-transition-duration nav_trans_time
  &:hover
    padding-left 0%
#footer_inner
  position relative

/*
 * Images
 */
div#me_picture
  height 130
  width 130
  margin-left 3px
  margin-top 5px
  margin-right 3px
  margin-bottom 10px
  padding-bottom -5px 
  
/*
 * Fonts
 */
@font-face
  font-family Aleo
  src url(/fonts/Aleo-Regular.otf) format('truetype')
@font-face
  font-family Aleo-Bold
  src url(/fonts/Aleo-Bold.otf) format('truetype')
@font-face
  font-family Aleo-Italic
  src url(/fonts/Aleo-Italic.otf) format('truetype')
@font-face
  font-family Aleo-BoldItalic
  src url(/fonts/Aleo-BoldItalic.otf) format('truetype')
@font-face
  font-family Molot
  src url(/fonts/Molot.otf) format('truetype')
@font-face
  font-family Villa
  src url(/fonts/Villa.ttf) format('truetype')
